<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="hub.sam.tef.layout" name="layout" schema="schema/hub.sam.tef.layout.exsd"/>
   <extension-point id="hub.sam.tef.primitivetypedescriptor" name="primitive type descriptor" schema="schema/hub.sam.tef.primitivetypedescriptor.exsd"/>

   
   <extension point="org.eclipse.ui.editors.annotationTypes">
         <type
               name="hub.sam.tef.occurence"
               >
         </type>
          <type
                name="hub.sam.tef.error"
                super="org.eclipse.ui.workbench.texteditor.error"/>
   </extension>
   <extension
         point="org.eclipse.ui.editors.markerAnnotationSpecification">
         <specification
               annotationType="hub.sam.tef.occurence"
               colorPreferenceKey="occurrenceIndicationColor"
               colorPreferenceValue="230,230,230"
               highlightPreferenceKey="occurrenceHighlighting"
               highlightPreferenceValue="true"
               includeOnPreferencePage="false"
               label="%marker.occurences.label"
               overviewRulerPreferenceKey="occurrenceIndicationInOverviewRuler"
               overviewRulerPreferenceValue="true"
               presentationLayer="5"
               textPreferenceKey="occurrenceIndication"
               textPreferenceValue="true"
               textStylePreferenceValue="IBEAM"
               verticalRulerPreferenceKey="occurrenceIndicationInVerticalRuler"
               verticalRulerPreferenceValue="true">
	  </specification>
	  <specification
            annotationType="testeditor.currentobjectmarker"
            label="%marker.acutal-element.label"
            textPreferenceKey="actualObjectIndication"
            textPreferenceValue="false"
            highlightPreferenceKey="actualObjectHighlighting"
            highlightPreferenceValue="true"
            contributesToHeader="false"
            overviewRulerPreferenceKey="actualObjectIndicationInOverviewRuler"
            overviewRulerPreferenceValue="false"
            verticalRulerPreferenceKey="actualObjectIndicationInVerticalRuler"
            verticalRulerPreferenceValue="true"
            colorPreferenceKey="actualObjectIndicationColor"
            colorPreferenceValue="255,230,230"
            presentationLayer="4"
            showInNextPrevDropdownToolbarActionKey="showActualObjectInNextPrevDropdownToolbarAction"
            showInNextPrevDropdownToolbarAction="true"
            isGoToNextNavigationTargetKey="isActualObjectGoToNextNavigationTarget"
	        isGoToNextNavigationTarget="false"
            isGoToPreviousNavigationTargetKey="isActualObjectGoToPreviousNavigationTarget"
	        isGoToPreviousNavigationTarget="false">
	  </specification>
   </extension>
   
  

  <extension
        point="org.eclipse.ui.newWizards">
     <category
           id="hub.sam.tef.TEFPlugin"
           name="TEF Wizards"/>
     <wizard
           category="hub.sam.tef.TEFPlugin"
           class="hub.sam.tef.pde.NewTefTextWizard"
           icon="icons/TSL.gif"
           id="hub.sam.tef.pde.NewTEFTextWizard"
           name="New TEF Text Editor"/>
  </extension>
  <extension
        point="org.eclipse.pde.ui.templates">
     <template
           class="hub.sam.tef.pde.TextEditorTemplate"
           contributingId="org.eclipse.ui.editors"
           id="hub.sam.tef.texteditortemplate"
           name="Text Editor"/>
  </extension>
  <extension
        point="org.eclipse.pde.ui.newExtension">
     <category
           id="hub.sam.tef.templates"
           name="TEF Templates"/>
     <wizard
           availableAsShortcut="false"
           category="hub.sam.tef.templates"
           id="hNew TEF Text EditorSL Text Editororwizard"
           name="TEF Text Editor"
           template="hub.sam.tef.texteditortemplate"/>
  </extension>
  <extension
        point="hub.sam.tef.layout">
     <layout
           class="hub.sam.tef.layout.BlockLayout"
           name="BlockLayout">
     </layout>
     <layout
           class="hub.sam.tef.layout.ExpressionLayout"
           name="ExpressionLayout">
     </layout>
  </extension>
  <extension
        point="hub.sam.tef.primitivetypedescriptor">
     <primitivetypedescriptor
           class="hub.sam.tef.primitivetypes.IdentifierDescriptor"
           rccsymbol="`identifier`"
           symbolname="IDENTIFIER">
     </primitivetypedescriptor>
     <primitivetypedescriptor
           class="hub.sam.tef.primitivetypes.StringDefDescriptor"
           rccsymbol="`stringdef`"
           symbolname="STRINGDEF">
     </primitivetypedescriptor>
     <primitivetypedescriptor
           class="hub.sam.tef.primitivetypes.IntegerDescriptor"
           rccsymbol="`integer`"
           symbolname="INTEGER">
     </primitivetypedescriptor>
  </extension>
  <extension
        point="org.eclipse.ui.editors">
     <editor
           class="hub.sam.tef.EcoreTestEditor"
           extensions="tefecore"
           icon="icons/EcoreModelFile.gif"
           id="hub.sam.tef.ecoretesteditor"
           name="TEF (2) Ecore Test Editor">
     </editor>
  </extension>  
</plugin>
