<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="Sample TEF Editor"
            extensions="mof"
            icon="icons/sample.gif"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            class="editortest.mof.editor.MofEditor"
            id="editortest.mof.MofEditor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.editors.annotationTypes">
         <type
         	name="testeditor.currentobjectmarker">
         </type>
   </extension>
   <extension
         point="org.eclipse.ui.editors.markerAnnotationSpecification">
         <specification
            annotationType="testeditor.currentobjectmarker"
            label="%marker.acutal-element.label"
            textPreferenceKey="actualObjectIndication"
            textPreferenceValue="false"
            highlightPreferenceKey="actualObjectHighlighting"
            highlightPreferenceValue="true"
            contributesToHeader="false"
            overviewRulerPreferenceKey="actualObjectIndicationInOverviewRuler"
            overviewRulerPreferenceValue="false"
            verticalRulerPreferenceKey="actualObjectIndicationInVerticalRuler"
            verticalRulerPreferenceValue="true"
            colorPreferenceKey="actualObjectIndicationColor"
            colorPreferenceValue="255,230,230"
            presentationLayer="4"
            showInNextPrevDropdownToolbarActionKey="showActualObjectInNextPrevDropdownToolbarAction"
            showInNextPrevDropdownToolbarAction="true"
            isGoToNextNavigationTargetKey="isActualObjectGoToNextNavigationTarget"
	        isGoToNextNavigationTarget="false"
            isGoToPreviousNavigationTargetKey="isActualObjectGoToPreviousNavigationTarget"
	        isGoToPreviousNavigationTarget="false">
	  </specification>
   </extension>
   <extension
         point="org.eclipse.ui.editors.annotationTypes">
         <type
         	name="testeditor.occurencesmarker">
         </type>
   </extension>
   <extension
         point="org.eclipse.ui.editors.markerAnnotationSpecification">
         <specification
            annotationType="testeditor.occurencesmarker"
            label="%marker.occurences.label"
            textPreferenceKey="occurrenceIndication"
            textPreferenceValue="false"
            highlightPreferenceKey="occurrenceHighlighting"
            highlightPreferenceValue="true"
            contributesToHeader="false"
            overviewRulerPreferenceKey="occurrenceIndicationInOverviewRuler"
            overviewRulerPreferenceValue="true"
            verticalRulerPreferenceKey="occurrenceIndicationInVerticalRuler"
            verticalRulerPreferenceValue="false"
            colorPreferenceKey="occurrenceIndicationColor"
            colorPreferenceValue="230,230,230"
            presentationLayer="5"
            showInNextPrevDropdownToolbarActionKey="showOccurrenceInNextPrevDropdownToolbarAction"
            showInNextPrevDropdownToolbarAction="true"
            isGoToNextNavigationTargetKey="isOccurrenceGoToNextNavigationTarget"
	        isGoToNextNavigationTarget="false"
            isGoToPreviousNavigationTargetKey="isOccurrenceGoToPreviousNavigationTarget"
	        isGoToPreviousNavigationTarget="false">
	  </specification>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.ui.category.textEditor"
            description="%command.insertElement.description"
            id="tef.insertElement"
            name="%command.insertElement.name"/>
      <command
            categoryId="org.eclipse.ui.category.textEditor"
            description="%command.deleteElement.description"
            id="tef.deleteElement"
            name="%command.deleteElement.name"/>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="tef.insertElement"
            contextId="org.eclipse.ui.textEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+INSERT"/>
      <key
            commandId="tef.deleteElement"
            contextId="org.eclipse.ui.textEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="SHIFT+CTRL+DELETE"/>
   </extension>
</plugin>
