<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="hub.sam.tef.expressions.ExpressionsTextEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            default="false"
            extensions="exprt"
            icon="icons/ExpressionsModelFile.gif"
            id="hub.sam.tef.expressions.texteditor"
            name="Expressions Text Editor">
      </editor>
      <editor
            class="hub.sam.tef.expressions.ExpressionsModelEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            default="false"
            extensions="expr"
            icon="icons/ExpressionsModelFile.gif"
            id="hub.sam.tef.expressions.modeleditor"
            name="Expressions Model Editor">
      </editor>
   </extension>


</plugin>

