<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
  <extension
         point="org.eclipse.ui.editors">
      <editor
            class="hub.sam.tef.ecore.EcoreTEFTextEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            default="false"
            extensions="ecoret"
            icon="icons/sample.gif"
            id="hub.sam.tef.ecore.editor"
            name="Ecore TEF Text Editor"/>
   </extension>
</plugin>
