<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
	   <editor
            class="hub.sam.tef.ocl.OclEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            default="false"
            extensions="uml"
            icon="resources/icons/ocl.gif"
            id="tef.emf.ocl.editor"
            name="TEF OCL Editor"/>
       <editor
            class="hub.sam.tef.ocl.OclTextEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            default="false"
            extensions="tuml"
            icon="resources/icons/oclt.gif"
            id="tef.emf.ocl.texteditor"
            name="TEF OCL Text Editor"/>
   </extension>

</plugin>
